body {
  font-size: 0.8em;
  color: #d2d2d2;
  background-color: #1a1d21;
}

body > * {
  margin: 16px 8px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

td {
  padding: 2px 8px;
}

thead td {
  font-weight: bold;
  background-color: #2a2d31;
}

tbody td {
  border-bottom: 1px solid #2a2d31;
}

.item-name {
  display: flex;
  align-items: center;
}

.item-name * {
  margin-right: 6px;
}

.item-amount, .item-facilities {
  text-align: right;
}

#target-amount-container {
  display: flex;
  align-items: center;
}

#target-amount-container > * {
  margin: 0 2px;
}

#target-amount-container > #target-name {
  margin-right: 8px;
}

input[type="text"] {
  color: #d2d2d2;
  background-color: #1a1d21;
  border: 1px solid #d2d2d2;
  width: 60px;
  text-align: right;
}

#rare-ore-chooser-container {
  margin: 0 24px;
}

#rare-ore-chooser-container > * {
  display: flex;
  align-items: center;
}

#rare-ore-chooser-container > * > * {
  margin: 0 2px;
}
