body {
  font-size: 0.8em;
  font-family: Helvetica, Arial, sans-serif;
  color: #d2d2d2;
  background-color: #1a1d21;
}

body > * {
  margin: 16px 8px;
}

#target-amount-table .item-name > div {
  min-width: 0;
}

#target-amount-table .target-amount > div {
  display: flex;
  align-items: center;
}

#target-amount-table .target-amount > div > * {
  margin-right: 4px;
}

.title {
  font-weight: bold;
}

#amount-tables {
  display: flex;
}

#amount-tables > * {
  margin-right: 16px;
  flex-grow: 1;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

td {
  padding: 4px 8px;
}

thead td {
  font-weight: bold;
  background-color: #2a2d31;
}

tbody td {
  border-bottom: 1px solid #2a2d31;
}

.item-name > div {
  display: flex;
  align-items: center;
  min-width: 200px;
}

.item-name * {
  margin-right: 6px;
}

.item-amount, .item-facilities {
  text-align: right;
  width: 80px;
}

.item-amount.surplus {
  color: #6495ed;
}

input[type="text"] {
  color: #d2d2d2;
  background-color: #1a1d21;
  border: 1px solid #d2d2d2;
  width: 60px;
  text-align: right;
}

#rare-ore-chooser-container {
  margin: 0 24px;
}

#rare-ore-chooser-container > * {
  display: flex;
  align-items: center;
}

#rare-ore-chooser-container > * > * {
  margin: 2px;
}
